* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: gray;
    margin: 0 auto;
    width: 80%;
}

.header {
    border: 1px solid red;
}

.nav {
    display: flex;
    align-items: stretch;
    background-color: bisque;
    justify-content: space-between;
}

.link-nav {
    padding: 20px;
    font-size: 15px;
    text-decoration: none;
    color: black;
}

.link-nav:hover {
    text-decoration: underline;
    color: bisque;
    background-color: black;
}

.main {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.itemCenter-section {
    width: 100%;
    background-color: bisque;
    border: 1px solid red;
    text-align: left;
}

.title-section {
    background-color: aquamarine;
    padding: 5px;
    border-radius: 20px;
    border: 2px solid black;
}

.photo {
    width: 100px;
    height: 100px;
    float: left;
}

.item-section {
    width: 50%;
    background-color: bisque;
    border: 1px solid red;
}

.footer {
    background-color: bisque;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;

}

.logo-RS {
    width: 100px;
}


/*
указывайте элементам названия классов и стилизуйте классы,
а не теги, не id, не сложные селекторы и т.д

порядок определения стилей:
1-позиционирование
2-блочная модель (размеры, отступы)
3-типографика (свойства шрифта)
4-оформление (цвет фона, тень)
5-анимация
*/